<div class="code-pane code-pane-desktop">
  <div class="pane-label">projects.js</div>
  <pre class="code-scroll">{{ projects_code }}</pre>
</div>
<div class="preview-pane">
  <h1>Projects</h1>
  {% for project in projects %}
  <article class="project-card">
    <h3>{{ project.name }}</h3>
    <span class="project-type">{{ project.type }}</span>
    <p>{{ project.description }}</p>
    <div class="tags">
      {% for t in project.techStack %}
      <span class="tag">{{ t }}</span>
      {% endfor %}
    </div>
    <ul>
      {% for f in project.features %}
      <li>{{ f }}</li>
      {% endfor %}
    </ul>
  </article>
  {% endfor %}
</div>
